.plan-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fe;
    padding: 10px;
    border-radius: 10px;
  }
  
  .change-link {
    color: #3829e0;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
  }
  